@charset "utf-8";

/*! mobile 버전 - css */
@media (max-width: 1023px) {
}
/*! pc & tablet 버전 - css */
@media (min-width: 1024px) {
}

// 2022 버전
/*!
 * component element
 * form
 * 폼 - 멀티 스타일
 */
.form-multi-group {
	display: flex;
	align-items: center;
	position: relative;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	@include rem(border-radius, 10);
	@include rem(height, 68);
	transition: all 0.3s ease-out;
	&.done {
		border-color: #141414;
		@include rem(box-shadow, 0 1 2 0 rgba(0, 0, 0, 0.2));
	}
}
.form-multi-label {
	position: absolute;
	@include rem(padding, 0 20 0 20);
	max-width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transform: translateY(-106%) scale(0.75);
	@include rem(transform-origin, 20 top);
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	overflow: hidden;
	@include rem(font-size, 16);
	transition: all 0.3s ease-out;
	color: #7d7d7d;
}
.form-multi-col {
	flex: 0 1 100%;
	align-self: flex-end;
	overflow: hidden;
	&.multi-col-1 {
		flex: 1 1 0;
	}
	&.multi-col-2 {
		flex: 2 1 0;
	}
	.input2-txt2-group2,
	.seeelectbox-grrroup {
		border: 0;
		background-color: transparent;
		@include rem(height, 40);
		&.done {
			border-color: inherit;
			box-shadow: none;
		}
	}
	&.left {
		.seeelectbox-grrroup {
			.btn-selectbox {
				@include rem(padding, 0 0 0 20);
			}
			.bl-selectbox {
				@include rem(right, 5);
			}
		}
	}
	&.right {
		.seeelectbox-grrroup {
			.btn-selectbox {
				@include rem(padding, 0 20 0 5);
			}
			.bl-selectbox {
				@include rem(right, 20);
			}
		}
		.input2-txt2-group2 {
			input {
				@include rem(padding, 0 20 0 10);
			}
		}
	}
}
/*!
 * component element
 * form
 * 폼 정렬
 */
.form2-group2 {
	width: 100%;
}
.form2-row2 {
	width: 100%;
	@include rem(margin-top, 24);
	&:first-child {
		margin-top: 0;
	}
	&.space01 {
		@include rem(margin-top, 10);
	}
	&.space02 {
		@include rem(margin-top, 16);
	}
}
.form2-tit2 {
	display: block;
	@include rem(font-size, 16);
	font-weight: 700;
	color: #141414;
	@include rem(margin-bottom, 16);
	&.tit-small {
		@include rem(font-size, 15);
		color: #7d7d7d;
		@include rem(margin-bottom, 3);
	}
}
.form2-col2-group2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	&.center {
		align-items: center;
	}
	&.flex-start {
		align-items: flex-start;
	}
	// input 물결 블릿
	.bl {
		flex: 0 0 auto;
		@include rem(width, 24);
		text-align: center;
		align-self: center;
	}
}
.form2-col2 {
	overflow: hidden;
	flex: 0 1 100%;
}
/*!
 * component element
 * form
 * 폼 유틸
 */
.form2-util2 {
	display: flex;
	flex-direction: column;
	.helper-msg {
		display: block;
		text-align: left;
		@include rem(padding, 8 0 0 8);
		@include rem(font-size, 14);
		color: #7d7d7d;
		&.right {
			text-align: right;
			@include rem(padding, 8 8 0 0);
		}
	}
	.helper-link {
		display: block;
		align-self: flex-end;
		text-align: right;
		@include rem(padding, 8 8 0 0);
		@include rem(font-size, 14);
		color: #414141;
		text-decoration: underline;
	}
	.valid-msg {
		display: none;
		@include rem(padding, 8 0 0 8);
		&.error {
			@include rem(font-size, 14);
			color: #f02727;
		}
	}
	&.line {
		.helper-msg,
		.helper-link,
		.valid-msg {
			@include rem(padding-left, 0);
			@include rem(padding-right, 0);
		}
	}
	&.error {
		* {
			display: none;
		}
		[class='valid-msg error'] {
			display: block;
		}
	}
}

// 2021 버전
// ******************** code comments ********************
// form - container
// ******************** code comments ********************
/*! 폼 - validation 컨테이너 */
.form-validation-container {
}
.label-area {
	display: block;
	@include rem(padding, 0 0 4px 0);
	.label-txt {
		@include rem(font-size, 15px);
		font-weight: 500;
		color: $font-222222;
	}
}

// 에러 또는 성공 메세지 출력 관련 스타일
.form-validation-message {
	@include rem(padding, 9px 0 0 0);
	@include rem(font-size, 13px);
}
// input text 상태 컨트롤 영역 (성공, 에러, 비활성, 읽기전용)
.form-validation-container {
	// 성공
	&.pass {
		.form-validation-message {
			color: blue;
		}
	}
	// 에러
	&.error {
		.form-validation-message {
			color: $font-e1002a;
		}
	}
	// readonly, disabled 비활성화
	&.readonly,
	&.disabled {
		opacity: 1;
		pointer-events: none;
		position: relative;
		z-index: -1;
		// disabled 속성 ie10 대응
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			/* IE10+ CSS styles go here */
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: #ffffff;
				opacity: 0;
				z-index: 1;
			}
		}
		.label-area {
			.label-txt {
				color: $font-999999;
			}
		}
		.input-txt {
			input {
				color: $font-999999;
				pointer-events: none;
			}
			&.btn-type01 {
				input {
					background-color: $bg-eeeeee;
					border: 1px solid $line-eeeeee;
				}
				.btn-input-search {
					.ico-input-search {
						background-image: url('../images/common/ico_search_input_disabled_mo.png');
					}
				}
			}
		}
		input[disabled] {
			background-color: #ffffff;
		}
		input[readonly] {
			&:focus {
				border-color: $line-dddddd;
			}
		}
	}
}

/*! 폼 - 정렬 컨테이너 */
.form-container {
}

/*! 폼 - 정렬 */
.form-align-type01 {
	&.spacebetween-equal {
		display: flex;
		justify-content: space-between;
		@include rem(margin-right, -10px);
		.form-col {
			@include rem(margin-right, 10px);
			flex: 0 1 100%;
		}
		.form-col.flex-end-type01 {
			display: flex;
			align-items: flex-end;
			@include rem(padding-bottom, 16px);
			[class^='input-'] {
				@include rem(margin-right, 20px);
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
.form-align-type01 + .form-align-type01 {
	@include rem(margin-top, 30px);
}
