@charset "utf-8";

/*! mobile 버전 - css */
@media (max-width: 1023px) {
}
/*! pc & tablet 버전 - css */
@media (min-width: 1024px) {
}
// 작업 히스토리 2022.01.11
// 에러메세지, 정렬영역등은 input text 에서만 사용하는 것이 아니기 때문에 form 이라는 공통 단어로 만들기로함.
// 여기 컴포넌트에서는 input-txt-group 영역만 제어할 수 있도록 수정함.
// 벨리데이션 체크, 정렬등은 form 영역에서 컨트롤 할 수 있도록 함.
// 기본적으로 lable 태그는 사용해야 하지만 title 로 대체함.
// 이유는 input text 가 여러개 정렬시 개별 타이틀 영역과 label 이 겹치기 때문에
// 2022.01.20
// 체크박스 처럼 타입을 정리 할 수 있을까??

// 2022 신규버전
/*!
 * component element
 * input text
 * 기본
 */
.input2-txt2-group2 {
	display: flex;
	align-items: center;
	position: relative;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	@include rem(border-radius, 10);
	@include rem(height, 68);
	transition: all 0.3s ease-out;
	> input {
		position: relative;
		z-index: 1;
		order: 2;
		width: 100%;
		height: 100%;
		@include rem(padding, 26 20 0 20);
		@include rem(font-size, 16);
		color: #141414;
		appearance: none;
		outline: 0;
		border: none;
		background-color: transparent;
		// ie에서 x 아이콘 삭제하는 소스 (입력 텍스트 초기화 아이콘)
		&::-ms-clear {
			display: none;
		}
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
		&::placeholder {
			color: #7d7d7d;
		}
	}
	.label-field {
		position: absolute;
		@include rem(padding, 0 20 0 20);
		max-width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		@include rem(transform-origin, 20 top);
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: left;
		overflow: hidden;
		@include rem(font-size, 16);
		transition: all 0.3s ease-out;
		color: #7d7d7d;
	}
	.btn-delete-txt {
		order: 10;
		@include rem(padding, 0 20 0 15);
	}
	.txt-field {
		display: none;
		@include rem(margin-top, 26);
		@include rem(font-size, 16);
		color: #141414;
		&.left {
			order: 1;
			@include rem(margin-left, 20);
			@include rem(margin-right, -12);
		}
		&.right {
			order: 3;
			@include rem(margin-right, 20);
			@include rem(margin-left, -12);
		}
	}
	.input2-checkbox2-group2 {
		order: 3;
		display: none;
		@include rem(margin-top, 26);
		@include rem(margin-right, 20);
		@include rem(margin-left, -12);
		.checkbox-txt-field {
			@include rem(top, 1);
			@include rem(font-size, 16);
			color: #141414;
		}
	}
	.btn-search-input {
		@include rem(padding, 10);
		&.left {
			order: 1;
			@include rem(margin-left, 10);
			@include rem(margin-right, -22);
		}
		&.right {
			order: 3;
			@include rem(margin-right, 10);
			@include rem(margin-left, -22);
		}
	}
	.btn-lv03 {
		order: 3;
		@include rem(margin-right, 20);
		@include rem(margin-left, -12);
	}
}
/*!
 * component element
 * input text
 * 기본 - h-small
 */
.input2-txt2-group2.h-small {
	@include rem(height, 55);
	> input {
		@include rem(padding, 0 20 0 20);
	}
}
/*!
 * component element
 * input text
 * 라인타입
 */
.input2-txt2-group2.line {
	@include rem(height, 55);
	border: 0;
	border-radius: 0;
	@include rem(border-bottom, 2px solid #c8f03e);
	> input {
		@include rem(padding, 0 0 0 0);
	}
	.input-line {
		width: 100%;
		@include rem(height, 2);
		position: absolute;
		@include rem(bottom, -2);
		left: 0;
		opacity: 0;
		background-color: #c8f03e;
		transform: scaleX(0);
		@include rem(transform-origin, left bottom);
		transition: all 0.3s ease-out;
	}
	.btn-delete-txt {
		@include rem(padding, 0 0 0 20);
	}
}
/*!
 * component element
 * input text
 * 상태 - done, active
 */
.input2-txt2-group2 {
	// 입력완료
	&.done {
		border-color: #e0e0e0;
		.label-field {
			transform: translateY(-106%) scale(0.75);
			// scale 조정은 작아졌을때 글자수를 더 노출시키지 않고 현상태에서 축소 된다.
		}
		.input2-checkbox2-group2 {
			display: inline-flex;
		}
		.txt-field {
			display: block;
		}
	}
	// 입력완료
	&.active {
		border-color: #414141;
		.label-field {
			transform: translateY(-106%) scale(0.75);
			// scale 조정은 작아졌을때 글자수를 더 노출시키지 않고 현상태에서 축소 된다.
		}
		.input2-checkbox2-group2 {
			display: inline-flex;
		}
		.txt-field {
			display: block;
		}
	}
}
/*!
 * component element
 * input text
 * 상태 - done, active - 라인타입
 */
.input2-txt2-group2.line {
	// 입력완료
	&.done {
		border-color: #c8f03e;
		box-shadow: none;
		.input-line {
			opacity: 1;
			transform: scaleX(1);
		}
	}
	// 입력완료
	&.active {
		border-color: #c8f03e;
		box-shadow: none;
		.input-line {
			opacity: 1;
			transform: scaleX(1);
		}
	}
}
/*!
 * component element
 * input text
 * 상태 - disabled, error
 */
// 우선순위상 disabled, error 는 제일 마지막에서 컨트롤 해야 한다.
.input2-txt2-group2.line,
.input2-txt2-group2 {
	// 에러
	&.error {
		border-color: #f02727;
		.label-field {
			transform: translateY(-106%) scale(0.75);
			// scale 조정은 작아졌을때 글자수를 더 노출시키지 않고 현상태에서 축소 된다.
		}
	}
	// 입력불가
	&.disabled {
		border-color: #e0e0e0;
		background-color: #f8f8f8;
		> input,
		input::placeholder,
		.lable-field {
			color: #b8b8b8;
		}
	}
}
/*!
 * component element
 * input text
 * 간격
 */
.input2-txt2-group2 + .selectbox-group {
	@include rem(margin-top, 16);
}

// 2021 구버전
// ******************** code comments ********************
// input text
// ******************** code comments ********************
/*! form - input text */
.input-txt {
	position: relative;
	background-color: #ffffff;
	input {
		display: block;
		width: 100%;
		@include rem(font-size, 17px);
		@include rem(height, 50px);
		@include rem(line-height, 50px);
		border: none;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: $line-dddddd;
		appearance: none;
		border-radius: 0;
		color: $font-222222;
		transition: all 0.3s ease-out;

		// background-color:rgba(0,0,0,0);
		// 위와 같이 background-color:rgba(0,0,0,0); 안 쓰면 ie10 에서 input 커서를 클릭할 수 없는 버그 발생함

		// ie에서 X 아이콘 삭제하는 소스 (입력 텍스트 초기화 아이콘)
		&::-ms-clear {
			display: none;
		}
		&:focus {
			border-bottom: 1px solid $line-222222;
			outline: 0;
		}
	}
	&.line-all {
		input {
			border-width: 1px;
			border-style: solid;
			border-color: $line-dddddd;
			@include rem(padding, 0 0 0 15px);
			@include rem(height, 50px);
			@include rem(line-height, 50px);
			@include rem(border-radius, 5px);
			&:focus {
				border: 1px solid $line-222222;
				outline: 0;
			}
		}
	}
	&.btn-type01 {
		position: relative;
		input {
			background-color: $bg-f5f5f5;
			border: 1px solid $line-f5f5f5;
			@include rem(padding-right, 50px);
			&:focus {
				outline: 0;
				background-color: #ffffff;
				@include rem(box-shadow, 5px 5px 15px 0px rgba(0, 0, 0, 0.1));
			}
		}
		.btn-input-search {
			position: absolute;
			top: 0;
			right: 0;
			@include rem(padding, 15px 15px 15px 15px);
			.ico-input-search {
				display: block;
				@include rem(width, 20px);
				@include rem(height, 20px);
				background: url('../images/common/ico_search_input_mo.png') no-repeat center center;
				@include rem(background-size, 20px 20px);
			}
		}
		.btn-input-del {
			position: absolute;
			top: 0;
			right: 0;
			@include rem(padding, 15px 15px 15px 15px);
			.ico-input-del {
				display: block;
				position: relative;
				@include rem(width, 20px);
				@include rem(height, 20px);
				&:before {
					content: '';
					width: 100%;
					height: 2px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -1px;
					background-color: gray;
					transition: all 0.3s ease-out;
				}
				&:after {
					content: '';
					width: 2px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -1px;
					background-color: gray;
					transition: all 0.3s ease-out;
				}
				transform: rotate(-45deg);
			}
		}
	}
}

// form - placeholder
// Chrome, Firefox, Opera, Safari 10.1+
.input-txt input::placeholder {
	color: $font-cccccc;
	background: transparent;
	// 아래 속성은 Firefox 용
	opacity: 1;
	font-weight: 400 !important;
	// font-family: 'Noto Sans KR' !important;
}
// .input-txt input:-ms-input-placeholder{position:relative;top:1px;}
// .input-txt input::-ms-input-placeholder{position:relative;top:1px;}

// ******************** code comments ********************
// input date
// ******************** code comments ********************

// ******************** code comments ********************
// input file
// ******************** code comments ********************
/*! 파일첨부 스타일 */
.input-file-type01 {
	position: relative;
	@include rem(padding-right, 60px);

	.input-file {
		position: relative;
		width: 100%;
		@include rem(height, 50px);
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}

	.input-file-label {
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		cursor: pointer;
		width: calc(100% - 60px);
		width: calc(100% - 6rem);
		@include rem(padding, 15px 0 15px 20px);
		border: 1px solid gray;
		color: gray;
		@include rem(font-size, 16px);
		font-weight: 300;
		transition: all 0.3s ease-out;

		&:after {
			content: '';
			display: block;
			@include rem(width, 50px);
			@include rem(height, 50px);
			position: absolute;
			@include rem(top, -1px);
			@include rem(right, -60px);
			background: #f5f5f5 url('../images/common/ico_add_file.png') no-repeat center center;
		}
	}

	.input-file {
		&:hover + .input-file-label,
		&:focus + .input-file-label {
			border: 1px solid black;
		}
	}
}
